table{
    border-collapse: collapse;
}
td{
    border: thin black solid;   
    width: 2em;
    height: 2em;
    text-align: center;
}
td:hover{
    background-color: #DDD;
}
.selected{
    background-color: #DDD;
}
.winner{
    color: green;
}